#inner
	%h3 Garage Door Opener
	#control_panel.clearfix
		.control.clearfix
			.button.open.selected{:onclick => "toggleSensor('open');"}
				%span
					Open Garage
			#open_img.thumbnail
			.button.close.selected{:onclick => "toggleSensor('closed');"}
				%span
					Close Garage
			#closed_img.thumbnail