#inner
	%legend Garage Door Remote
	#current_state
		%button{:id=>'open', :class=>"btn btn-success", :onclick => "toggleSensor('open');"} Open Garage
		#garage_wrapper.garage_open.thumbnail
			%p{:id=>'current_state_text'}
		%button{:id=>'closed', :class=>"btn btn-danger", :onclick => "toggleSensor('closed');"} Close Garage
		#garage-thumbnail.mm-thumbnail	
		
:javascript
	getSensorState();
	setInterval(getSensorState,15000);