#inner
	%h3 Garage Door Remote
	#control_panel.clearfix
		.control.clearfix
			#current_state
				%span{:id=>'current_state_text'}
				#garage_wrapper.garage_open
			.button.open.selected{:onclick => "toggleSensor('open');"}
				%span
					Open Garage
			#open_img.thumbnail
			.button.close.selected{:onclick => "toggleSensor('closed');"}
				%span
					Close Garage
			#closed_img.thumbnail
:javascript
	getSensorState();
	setInterval(getSensorState,1000);