#inner
	%legend Configure XBee
	%form{:id=>'configure', :class=>"form-vertical", :name=>'configure'}
		- gateway_str = JSON.dump(@gateway_ids)
		#data{:data => "#{gateway_str}" }
		%fieldset
			.control-group
				%select{:id => "gatewaySelect" ,:class=>"span4", :onchange => "updateXBeeList();" }
					%option{:class => "prompt", :value => ""} Select a Gateway
					- @gateway_ids.each do |k,v|
						%option{:class => "prompt",:value => "#{k}"} #{k}
			.control-group
				%select{:id => "xbeeSelect", :class=>"span4"}
					%option{:class => "prompt", :value => ""} Select a XBee
			.control-group#configure-btn
				%button{:class=>'btn btn-primary', :type=>"button", :onclick => "configureXBee();return false;"} Configure
				.mm-thumbnail
				