#inner
	%h3 Configuration
	#control_panel.clearfix
		- gateway_str = JSON.dump(@gateway_ids)
		#data{:data => "#{gateway_str}" }
		.control.clearfix
			%select{:id => "gatewaySelect", :onchange => "updateXBeeList();" }
				%option{:class => "prompt", :value => ""} Select a Gateway
				- @gateway_ids.each do |k,v|
					%option{:class => "prompt",:value => "#{k}"} #{k}
			%select{:id => "xbeeSelect"}
				%option{:class => "prompt", :value => ""} Select a XBee
		.control.clearfix
			.button.selected{:onclick => "configureXBee();"}
				%span
					Configure Garage Door Opener
			#configure_img.thumbnail
				
