#inner
	%h3 Control Panel
	
	#control_panel.clearfix
		.control.clearfix
			%select{:id=>"gatewaySelect"}
				%option{:class=>"prompt",:value=>""} Select a Gateway
				- @gateway_ids.each do |id|
					%option{:class=>"prompt",:value=>"#{id}"} #{id}
			%select{:id=>"xbeeSelect"}
				%option{:class=>"prompt",:value=>""} Select a XBee
		.control.clearfix
			.button.selected{:onclick=>"toggleXBee();"}
				/ value of xbee state
				Open
			.thumbnail
				%a{:href=>"", :onclick=>"alert('clicked');"}
					%img{:src=>"/imgs/default.png"}
